#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.players {
  display: flex;
  gap: 2rem;
}

.player {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.player-cards {
  display: flex;
  gap: 2rem
}

.card {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}